body {background-color:#727272;
	font-size:12px;
	font-family:'Roboto';
	color:#191919;
	margin:0}
	
button {background-color:#bfbfbf;
	height:36px;
	width:120px;
	border:none;
	font-size:24px;
	font-family:'Roboto';
	transition-duration:0.25s}
button:hover {background-color:#e5e5e5}
button:active {background-color:#999999}
	
.darkButton {background-color:#999999}
.darkButton:hover {background-color:#bfbfbf}
.darkButton:active {background-color:#7f7f7f}

.optionButton {height:72px;
	width:180px}
	
#loading {background-color:#999999;
	position:fixed;
	top:0%;
	height:100%;
	width:100%;
	font-size:36px;
	transition-duration:2s;
	z-index:2}
	
#rank {position:absolute;
	right:0;
	font-size:24px;
	text-align:right}
	
#stone {position:fixed;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	font-size:24px;
	text-align:center}
	
#stoneDisplay {position:relative;
	height:240px;
	width:240px}
	
#stoneDisplay_button {background-color:rgba(229,229,229,0);
	position:absolute;
	height:240px;
	width:240px;
	left:0;
	top:0}
#stoneDisplay_button:hover {background-color:rgba(229,229,229,0.1)}
#stoneDisplay_button:active {background-color:rgba(25,25,25,0.1)}
	
.ore_Stone {background-color:#4c4c4c}
	
.ore_Iron {background-color:#e5ceb7}
	
.ore_Bronze {background-color:#e57e16}
	
.ore_Silver {background-color:#b2b2b2}
	
.ore_Gold {background-color:#b2b259}
	
.ore_Ruby {background-color:#e50000}
	
.ore_Sapphire {background-color:#0000e5}

#sell {font-size:16px}

.upgradeButton {height:24px;font-size:12px}

.cantAfford, .cantAfford:hover, .cantAfford:active {background-color:#999999}

.bought, .bought:hover, .bought:active {background-color:#00e500}

#header {position:fixed;
	left:0;
	top:0;
	width:100%;
	overflow-x:auto;
	z-index:1}

#header table {
	padding:0;
	border-spacing:0;
}

#header td {
	padding:0
}

#footer {background-color:#5b5b5b;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	font-size:24px;
	z-index:1}

.tab {position:absolute;
	top:48px;
	width:100%}

.footerBlockage {height:24px}
	
	
	
#changelog {text-align:center}

#changelog div {font-size:24px}

#changelog h1 {font-size:48px}

#changelog h2 {font-size:36px}

#changelog .slogan {color:rgba(25,25,25,0.5);
	font-size:24px}